@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iransans";
  src: url('../fonts/Vazir-Regular.woff')format("woff");

}

.font-sans {
  font-family: iranSans, Arial, Helvetica, sans-serif !important;
}

body {
  font-family: iranSans, Arial, Helvetica, sans-serif !important;
  box-sizing: border-box;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

input:focus-visible {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.color-p {
  color: rgb(114, 114, 114);
}

.color-p-dark {
  color: rgb(39, 39, 38);
}

.color-span {
  color: rgb(158, 158, 158);
}

.color-span-dark {
  color: rgb(45, 45, 45);
}

.color-h1 {
  color: rgb(172, 172, 172);
}

.color-h1-dark {
  color: rgb(77, 77, 77);
}